html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans", normal;
  background-color: #fcfcfc;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans-Thin.ttf');
  font-weight: thin;
}